/* Estilo General
--------------------------------------------- */

body {
	margin: 0;
	padding: 0;
}



/* Fuente
--------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);



/* Helper Classes
--------------------------------------------- */

.clearfix {
	display: block;
	clear: both;
}


/* Tipografía
--------------------------------------------- */

body {
	font-size:14px;
	line-height:32px;
	color: #333;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
	color: #FF5722
}

a:hover {
	text-decoration: underline; 
	color: #E64A19;
}



/* Cabezeras
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}



/* Sección
--------------------------------------------- */

#container{
	margin: 0 auto;
	max-width: 1200px;
}



/* Cabezera
--------------------------------------------- */

header {
	width: 94%;
	padding: 3%;
	background-color: #00A8E8;
    background-image:url(images/banner.jpg);
    background-position: center;
    background-size: cover;
}

header #title {
	font-size: 40px;
	color: #000000;
    text-align: center;
}



/* Navegación
--------------------------------------------- */

nav {
	width: 97%;
	background-color: #8AC926;
	padding: 0 1.5% 0 1.5%;
}

nav ul li {
	display: inline-block;
	padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
    padding-left: 125px;
}

nav ul li a:hover {
	color: #000000;
	text-decoration: none;
}



/* Content
--------------------------------------------- */

#content {
	float: left;
	padding: 3%;
	width: 64%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}



/* Sidebar
--------------------------------------------- */

aside {
	float: right;
	padding: 3%;
	width: 24%;
	background-color: #eee;
}



/* Footer
--------------------------------------------- */

footer{
	width: 94%;
	padding: 3%;
	background-color: #8AC926;
	border-top: 3px solid #00A8E8;
	color: #fff;
	text-align: center;
}



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	header {
		text-align: center;
	}

	nav {
		text-align: center;
	}

	#content {
		width: 94%;
		padding: 3%;
	}

	#sidebar {
		width: 94%;
		padding: 3%;
		border-top: 3px solid #E64A19;
	}

}

/*
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
*/